<% layout('layouts/boilerplate') %>
	<!-- CSS -->
	<link rel="stylesheet" href="/stylesheets/about.css">

	<div id="content" class="container">
		<div class="row justify-content-center">
			<div class="col-11 col-md-4 py-2 py-md-0 order-2 order-md-1">
				<h1>About Me</h1>
				<p>
					Hi, I’m Smita Modi. I grew up in Kampala and now live near Toronto. Aside from cooking, I
					enjoy staying
					active, reading, going for walks, hosting parties and binge-watching TV. I'm very passionate
					about
					whatever I do.
				</p>
			</div>
			<div class="col-11 col-md-8 col-lg-6 col-xl-5 order-1 order-md-2 mb-2">
				<img src="/imgs/about/smita_profile.jpg" class="img-fluid border-black-1 rounded"
					alt="smita looking cool af">
			</div>
		</div>
	</div>