<% layout('layouts/boilerplate') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/contact.css">

    <div id="content" class="container">
        <!-- Success/Failure Alerts -->
        <div class="container">
            <% if(success && success.length> 0 ){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
                    <% if(error && error.length> 0 ){ %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                        <% } %>
        </div>
        <h1 class="text-center m-auto p-2">CONTACT PAGE</h1>
        <!-- Form -->
        <form action="/contact" method="POST" novalidate class="needs-validation">
            <div class="form-group col-md-8 m-auto pb-2">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" maxlength="50" required>
            </div>
            <div class="form-group col-md-8 m-auto pb-2">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" id="lastName" maxlength="50" name="lastName">
            </div>
            <div class="form-group col-md-8  m-auto pb-2">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" maxlength="20" required>
            </div>
            <div class="form-group  col-md-8  m-auto pb-4">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" maxlength="1000"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block col-md-2 m-auto" data-toggle="modal"
                data-target="#contactModal">
                Submit
            </button>
        </form>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>