<% layout('layouts/boilerplate') %>
	<!-- CSS -->
	<link rel="stylesheet" href="/stylesheets/press.css">
	<main>
		<div class="container">
			<div class="d-flex flex-column align-items-center">
				<div class="m-1">
					<h1>Press</h1>
				</div>
				<div class="col-md-8 col-lg-6">
					<a
						href="https://globalnews.ca/video/5177960/how-some-canadians-are-preserving-their-families-recipes">
						<img src="/imgs/press/global_news_26-04-2019.png" class="img-fluid rounded hover-border-grow"
							alt="global news article 26 april 2019">
					</a>
				</div>
			</div>
		</div>
	</main>